<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <title>jsjich</title>
</head>
<body>
<script>

    // let a = 3;
    // console.log(a)
    // a = "111";
    // console.log(5)
    // let aa = "111111111"
    // let b = Number(aa);
    //
    //
    // let floatNum = "3.19";
    // console.log(floatNum)
    //
    // console.log(parseInt(floatNum))
    // parseInt(floatNum);


    // let firNum = prompt("第一个数字");
    // let secNum = prompt("第一个数字");
    // let sumString = firNum + secNum;
    // let sum = Number(firNum) + Number(secNum);
    // console.log(sum)
    // alert(sum)
    // let f1 = 0.1;
    // let f2 = 0.2;
    // let f3 = f1 + f2;
    // console.log(f3)
    // console.log((f3).toFixed(4));
    // console.log(Math.pow(99,99));
    // console.log(Math.sqrt(81));

    // let obj = new  Object();
    // obj.name = function (){
    //     console.log('s 点点滴滴');
    // }
    // console.log('----------------------------------');
    // console.log(obj.name);  //没加括号，就是获取方法
    // console.log('----------------------------------');
    // console.log(obj.name()); //加了括号，就是调用方法。即：执行函数内容，并执行函数体的内容


    // 对象中的属性值，也可以是一个**对象**。
    let obj1 = new Object();
    obj1.name = '111';

    let obj2 = new  Object();
    obj2.name ='22222';

    obj1.tests = obj2;
    console.log(obj1.tests.name);

</script>
</body>
</html>