<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="button" value="aa">
<input type="button" value="bb">
<input type="button" value="cc">
<input type="button" value="dd">
<script>
    // var myBtn = document.getElementsByTagName('input');
    // for (var i = 0; i < myBtn.length; i++) {
    //     myBtn[i].onclick = function () {
    //         //这段 function 代码在编辑阶段不会执行，只会讲这一段函数赋值给对应按钮，
    //         // 编辑阶段var 出来的 i 会依次变为0，1，2，3，当为4的时候，由于 i < myBtn.length为 FALSE，所以 for 循环结束，此时 i 为4，
    //         // 所以编译完成执点击动作的时候，i 会为4，弹窗为4
    //         console.log('内部' + i);
    //         alert(i);
    //     };
    //     console.log('外部' + i);
    // }


    const obj = { name: '千古壹号' };

    function fn1() {
        console.log(this); // 第一个 this
        return () => {
            console.log(this); // 第二个 this
        };
    }

    const fn2 = fn1.call(obj);
    fn2();

</script>
</body>
</html>